body {
    background-image: url('./images/gatito_contacto.jpg');
}

#contact_form {
    margin: 0 auto;
    padding: 2%;
    margin-left: 12%;
    margin-top: 5%;
    border-radius: 10px;
    background-color: aliceblue;
    margin-right: 58%;
}

.row {
    margin: 0 auto;
}

form label {
    width: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form input {
    padding-bottom: 5px;
    margin-bottom: 1em;
    border-radius: 18px;
}

#submit_button {
    margin-top: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

textarea {
    border-radius: 18px;
}